body {
    color: var(--game-text-color);
    background-color: var(--background-color);
    box-sizing: border-box;
    user-select: none;
    text-align: center;
    transition: 200ms;
}

div {
    margin: 20px auto;
}

button {
    margin: 0 2px;
}

div.levels button {
    width: 95px;
}

.cover-board {
    position:absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.mine-board {
    margin: 0 auto;
}

.game-board-cell {
    opacity: 1;
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;
    border-radius: 10px;
}

.cover-board-cell {
    background-color: var(--cover-board-cell-color);
}

.cover-board-cell-hint {
    opacity: 0.3;
}

.cover-board-cell-cheat-mine {
    outline: 2px var(--cheat-outline-color) solid;
}

.cover-board-cell-uncovered {
    opacity: 0;
}

.cover-board-cell-selected {
    background-color: coral;
}

.mine-board-cell {
    background-color: var(--mine-board-cell-color);
}

.mine-board-cell-first {
    background-color: var(--mine-baord-first-cell-color);
}

.game-over-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    background-color: var(--game-over-modal-background-color);
    border-radius: 1em;
    padding: 0em 3em;
    opacity: 0;
    transition: 1000ms;
}

.high-scores-list {
    border: 1px solid;
    min-width: 5vw;
    max-height: 20vh;
    overflow-y: auto;
    text-align: start;
    list-style-position: outside;
}

li::marker {
    font-weight: bold;
}