:root {
}

body {
    box-sizing: border-box;
    user-select: none;
    text-align: center;
}

div {
    margin: 20px auto;
}

button {
    margin: 0 2px;
}

div.levels button {
    width: 95px;
}

.cover-board {
    position:absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.mine-board {
    margin: 0 auto;
}

.game-board-cell {
    opacity: 1;
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;
    border-radius: 10px;
    transition: 200ms;
    /* border-radius: 5px; */
}

.cover-board-cell {
    background-color: lightslategray;
}

.cover-board-cell-hint {
    opacity: 0.3;
}

.cover-board-cell-cheat-mine {
    outline: 2px red solid;
}

.cover-board-cell-uncovered {
    opacity: 0;
}

.mine-board-cell {
    background-color: lightskyblue;
}

.mine-board-cell-first {
    background-color: lightsalmon;
}

.game-over-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    background-color: rgba(250, 235, 215, 0.85);
    border-radius: 1em;
    padding: 0em 3em;
    opacity: 0;
    transition: 2500ms;
}

.high-scores-list {
    border: 1px black solid;
    max-height: 20vh;
    overflow-y: auto;
    text-align: start;
    list-style-position: outside;
}

li::marker {
    font-weight: bold;
}